{% extends "layouts/application.html" %}
{% block body %}
  {% from "_paginationhelpers.html" import render_pagination %}
  <ul class=tasks>
    {% for user in users.items %}
      <li>
        <h2>
          {{ user.username }}
          <small>
            <a href="{{ url_for('users.show', username=user.username) }}">view</a>
          </small>
        </h2>
        name: {{ user }}
      </li>
    {% else %}
      <li><em>Unbelievable.  No users here so far</em></li>
    {% endfor %}
  </ul>
  {{ render_pagination(users, 'users.index') }}
{% endblock %}
