{% extends "layouts/application.html" %}
{% block body %}
  {% from "_paginationhelpers.html" import render_pagination %}
  <ul>
    <li>
      <a href="{{ url_for('tasks.index') }}">show all</a>
    </li>
    <li>
      <a href="{{ url_for('tasks.index', s='c') }}">show completed</a>
    </li>
    <li>
      <a href="{{ url_for('tasks.index', s='nc') }}">show not yet completed</a>
    </li>
  </ul>
  <ul class=tasks>
    {% for task in tasks.items %}
      <li>
        <h2>
          {{ task.title }}
          <small>
            <a href="{{ url_for('tasks.show', id=task.id) }}">view</a>
          </small>
        </h2>
        added by {{ task.added_by }}, completed by {{ task.completed_by }}
      </li>
    {% else %}
      <li><em>Unbelievable.  No tasks here so far</em></li>
    {% endfor %}
  </ul>
  {{ render_pagination(tasks, 'tasks.index') }}
{% endblock %}
